<%= provide(:title, @article.title) %>
<article>
  <div class="row">
    <div class="span12"><h2 id="art-title"><%= @article.title %></h2></div>
    <div class="span12" id="time-created">
      <small>Published <%= published_date(@article.created_at) %></small>
    
    </div>
  </div>
  <div class="row">
    <div class="span9 offset1 article"><%= @article.content %></div>
  </div>
  <% if @article.created_at != @article.updated_at %>
    <div class="row">
      <div class="span12" id="time-updated">
        <small>Last Updated <%= published_date(@article.updated_at) %></small>
      </div>
    </div>
  <% end %>
</article>
<% if current_user?(@article.user) %>
  <div class="row">
    <div class="span12 update">
      <%= link_to 'Edit Article', edit_article_path(@article), 
                                  class: 'btn btn-primary' %>
      <%= link_to 'Delete Article', @article, method: :delete, 
                                    data: { confirm: "Are you sure?" }, 
                                    class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>